<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Наряд заказа № <%= @order.id %> </title>
<style type="text/css">
<!--
.podpis1 {
	font-size: 12px;
	text-align: left;
}
.rightborder {
	border-right-color: #000;
	border-right:dotted;
}
.allborder {
	border: thin solid #000;
}

.topborder {
	border-top: thin solid #000;
}

.bottomborder {
	border-bottom: thin solid #000;
}
.txt_dogovor {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8px;
	font-style: normal;
	text-align: justify;
}
.txt_bold {
	font-weight: bold;
}
.txt_dostavka strong {
	font-size: 24px;
}
.txt_dostavka {
	font-size: xx-large;
	font-family: Verdana, Geneva, sans-serif;
}
.txt_dostavka .txt_dostavka strong {
	font-size: 24px;
}

-->
</style>
</head>

<body>
<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <blockquote>
          <blockquote>
            <p><strong class="txt_dogovor">Договор №<%= @order.id %> от <%=@order.created_at.strftime('%d.%m.%Y ')  %> на оказание услуг. </strong><br />
            </p>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>
<table border="0" cellpadding="10" cellspacing="3">
  <tr class="txt_dogovor">
    <td width="365" rowspan="2" valign="top"><p><strong>1.</strong> <strong>ООО «Полиграфия Дизайн Реклама»</strong>, в дальнейшем именуемое<strong> Исполнитель</strong>, в лице Генерального директора Савко В.Г., действующего на основании Устава,  и <%= @order.user.name %> , в дальнейшем именуемое (-ый) Заказчик, в лице представителя <%= @order.user.contact_fio%>, обладающего необходимыми полномочиями, заключили настоящий Договор.<br />
      <strong>2. </strong><strong>Предмет договора&nbsp;</strong><br />
      2.1. Исполнитель обязуется оказать услуги по нанесению Изображения на Материал, а Заказчик обязуется оплатить эти Услуги.<br />
      2.2. Заказчик заказывает изготовление <%= @order.product_type.name %> в количестве <%= @order.circulation %> единиц на оборудовании <%= @order.print_method.name rescue '' %>. <br />
      2.2.1. Цветность нанесения изображения <%= @order.colors %>, изображение наносится на <%= @order.material.name %>. Итоговый размер составляет <%= @order.format_w %> мм x <%= @order.format_h %> мм. Допускается изготовление большего формата, точность попадания в размер составляет не менее 3%. <br />
      2.2.2. Услуга Цветопробы <%= @order.is_colorprobe%>.<br />
      2.2.3. Дополнительные работы:<%= @order.design_tasks %> <%= @order.processing %>.<br />
      2.2.3.            Услуги по постобработке:
      <% if @order.pp_cutting == true then %>
      Резка
      <% end %>
      &nbsp;
      <% if @order.pp_lamination == true then %>
      Ламинация
      <% end %>
      &nbsp;
      <% if @order.pp_composition == true then %>
      Сборка
      <% end %>
      &nbsp;
      <% if @order.pp_foiling == true then %>
      Фольгирование
      <% end %>
      &nbsp;
      <% if @order.pp_spring == true then %>
      Пружина
      <% end %>
      &nbsp;
      <% if @order.pp_twining == true then %>
      Переплёт
      <% end %>
      &nbsp; <%= @order.pp_falze_tag %> &nbsp; <%= @order.pp_bigging_tag %> &nbsp;
      <% if @order.pp_rounding == true then %>
      Скругление углов
      <% end %>
      <br />
      2.3. Полная стоимость договора составляет <%= @order.price %> рублей.<br />
      <strong>3.    Права и обязанности Исполнителя</strong><br />
      3.1. Исполнитель обязуется оказать услугу по нанесению Изображения    на&nbsp;&nbsp;Материал в соответствии с требованиями Заказчика.&nbsp;<br />
      3.2. Исполнитель обязуется предоставить Заказчику устную консультацию по    выбору Изображения, прав на использование изображения, при этом    ответственность за конечный выбор Изображения лежит только на Заказчике.&nbsp;<br />
      3.3. Исполнитель обязуется предоставить Заказчику устную консультацию по    выбору Материала, при этом, ответственность за конечный выбор Материала лежит    на Заказчике.<br />
      3.4. Исполнитель обязуется предоставить Заказчику устную консультацию по    процессу Монтажа, понимая что ответственность за конечный выбор и исполнение    Монтажа лежит только на Заказчике.<br />
      3.5. Исполнитель обязуется предоставить по заявке Заказчика Цветопробу  выбранного Заказчиком изображения на    выбранном Заказчиком Материале размером не более 30см*40см. <br />
      3.6. Исполнитель имеет право оказать по просьбе Заказчика услугу Дизайна или    Редактирования изображения. Данная услуга оплачивается отдельно.&nbsp;<br />
      3.7. Исполнитель обязуется организовать Доставку по просьбе Заказчика. Данная    услуга оплачивается отдельно.<br />
      <strong>4. Права и обязательства Заказчика</strong><br />
      4.1. Заказчик самостоятельно выбирает и утверждает Изображение и    Материал.&nbsp;<br />
      4.2. Заказчик вправе заказать или не заказывать изготовление    Цветопробы.&nbsp;<br />
      4.3.Заказчик обязан предоставить заблаговременно (до момента начала процесса    нанесения Изображения) точные размеры наносимого Изображения и высказать    необходимые пожелания. Возможность внесения изменений в размеры и\или    параметры Изображения после начала оказания Услуг по Договору отсутствует.<br />
      4.4. Заказчик обязан самостоятельно или через своих Представителей, проверить    размеры, материал, качество нанесения Изображения на Материал при получении    Услуги.&nbsp;&nbsp;<br />
      4.5. Заказчик несет полную ответственность за действия своих Представителей    при оформлении документов, предоставлении информации для оказания Услуг или    получении результата оказания Услуг.<br />
      <strong>5. Порядок оказания, оплаты и приемки Услуг</strong><br />
      5.1. В целях получения Услуг, Заказчик самостоятельно предоставляет Изображение, Материал и задает&nbsp;&nbsp;размеры    Изображения на Материале.&nbsp;Заказчик удостоверивается в качестве    выбранного им Изображения, и может воспользоваться бесплатной консультацией    Исполнителя. Решение о возможности использовать выбранное Изображение    Заказчик принимает самостоятельно, понимая, что ответственность за выбор    Изображения лежит персонально на Заказчике.&nbsp;<br />
      5.2. Заказчик самостоятельно определяет необходимость следующих    дополнительных услуг: Дизайн, Редактирование изображения, изготовление    Цветопробы, Доставки.&nbsp;<br />
      5.3. Оплачивает 100% стоимость заказываемых Услуг.<br />
      5.4. Если заказана услуга Цветопробы, Дизайна или Редактирования Изображения    то самостоятельно или через своего Представителя утверждает результат оказа­ния    Услуги путем подписания лично соответствующих документов или утверждения по    еmail.&nbsp;<br />
      5.5. С момента поступления средств на счет Исполнителя или утверждения    Цветопробы, если заказана услуга Цвтопробы,     – в зависимости от того, что наступит позднее - оказывается Услуга по    нанесению Изображения на Материал. Срок исполнения услуги составляет 10    (десять) рабочих дней, если Исполнитель не проинформировал Заказчика об ином    сроке. Допускается более оперативное оказание Услуги.&nbsp;<br />
      5.6. С момента исполнения Услуги нанесения Изображения на Материал, Материал    готовится к Доставке в течении 2 (двух) рабочих дней и по желанию Заказчика,    может быть доставлен по адресу Заказчика за счет Заказчика как собственными    силами Исполнителя так и путем привлечения сторонней транспортной компании. В    этом случае срок Доставки определяется параметрами предоставления данной    услуги нанимаемых Исполнителем для этой цели&nbsp;транспортных служб и не    входит&nbsp;в срок оказания Услуг по Договору. Страхование сохранности груза    осущетсвляется за счет Заказчика. <br />
      5.7. Завершение оказания Услуг для юридических лиц и индивидуальных    предпринимателей подтверждается соответствующим актом об оказании    услуг.&nbsp;<br />
      5.8. Завершение оказания Услуг для физических лиц подтверждается отсутствием    претензий в письменном виде в адрес Исполнителя в течение трех календарных    дней с момента передачи продукта оказания Услуг Заказчику. <br />
      5.9. Полным и безусловными принятием оказанных Услуг является прямое    использование результата оказанных Услуг для полного или частичного Монтажа.    В этом случае Услуги считаются оказанными полностью, с должным качеством и в    необходимом количестве.<br />
      <strong>6. Стоимость и порядок расчетов</strong><br />
      6.1. Услуги, оказываемые Исполнителем Заказчику по Договору, облагаются НДС. <br />
      6.2. Оплата услуг Исполнителя по настоящему Договору осуществляется в    соответствии с п. 6.1. настоящего Договора путем безналичного перевода    денежных средств в виде 100%-ной предоплаты на счет Исполнителя.&nbsp;<br />
      6.3. Заказчик не имеет права совершать оплату по настоящему Договору-оферте    (в том числе совершать акцепт оферты) Исполнителю со счетов третьих лиц без    письменного уведомления Заказчиком Исполнителя с последующим получением    согласия Исполнителя.<br />
      6.4. Акты об оказании услуг выставляются Исполнителем Заказчику (для    юридических лиц и индивидуальных предпринимателей) в последний день оказания    Услуг.&nbsp;<br />
      6.5. Если Акт об оказании услуг не оспорен Заказчиком в течение трех рабочих    дней с момента его предоставления, то он считается подписанным Заказчиком.<br />
      6.6. Счета-фактуры выставляются Исполнителем в соответствии с    законодательством РФ. </p></td>
    <td width="365" valign="top"><p><strong>7. Условия оказания Услуг</strong><br />
      7.1.&nbsp;Стороны согласились, что    претензии по любым параметрам нанесенного Изображения будут приниматься Исполнителем    только при наличии заказанной, изготовленной Исполнителем и подписанной    Заказчиком Цветопробы. В противном случае претензия считается    необоснованной.&nbsp;Стороны пришли к    согласию, что&nbsp;единственным правомерным    способом утверждения параметров Изображения&nbsp;&nbsp;и Материала является    заказ и утверждение Цветопробы. Заказчик проинформирован, понял и согласен,    что&nbsp;при нанесение    Изображения на Материал&nbsp;цветность, яркость,    тон, размытость и другие параметры будут отличаться от видимых&nbsp;&nbsp;на    экране монитора, так как это определяется как настройками монитора так и характеристиками    Материала, на который наносится Изображение. Технология нанесения Изображения    допускает отклонение до 5% по каждому цветовому каналу СМУК.&nbsp;<br />
      7.2.Соглашаясь с условиями и принимая условия настоящего Договора путем    оплаты, Заказчик&nbsp;&nbsp;заверяет и гарантирует Исполнителю, что:<br />
      – Заказчик указал достоверные данные, в том числе персональные данные    Заказчика при размещении запроса на оказание Услуг, том числе персональные    данные Заказчика при оформлении платежных документов по оплате Услуг;<br />
      – Заказчик заключает Договор добровольно, при этом: а) полностью ознакомился    с условиями Договора, б) полностью понимает предмет Договора, в) полностью    понимает значение и последствия своих действий в отношении заключения и    исполнения Договора;<br />
      – Заказчик обладает всеми правами и полномочиями, необходимыми для заключения    и исполнения Договора; его действия&nbsp;&nbsp;не нарушают и не влекут за    собой нарушение действующего законодательства и/или прав третьих лиц.&nbsp;<br />
      7.3.&nbsp;Стороны согласились,    что претензии по качеству и количеству принимаются&nbsp;&nbsp;только<strong>&nbsp;</strong>при    приемке-сдаче заказа - по количеству, цвету, размеру и качеству. После использования продукции&nbsp;претензии не принимаются.<br />
      7.4. Стороны согласились, что при отсутствии заказанного Материала    Исполнитель&nbsp;вправе использовать наиболее близкий по внешним параметрам    (фактуре) Материал по своему выбору. Заказчик проинформирован, что Материал    соответствует необходимым санитарно-гигиеническим нормам&nbsp;&nbsp;и    сертифицирован. Может иметь некий специфический запах, что не означает его    некачественности или непригодности.&nbsp;<br />
      7.5. Заказчик проинформирован, понял и согласен, что&nbsp;Монтаж – сложная процедура, требующая навыка.    Заказчик получил разъяснение, и необходимые инструкции. Заказчик предупрежден, что Материал и красители не боятся воды, но подвергать    их физическому воздействию (тереть) нельзя – это грозит порчей    нанесенного слоя красителя. Заказчик целиком и полностью понимает, что    процедура Монтажа означает однозначное принятие по качеству, количеству и    комплектации оказанных Услуг и претензии по качеству приклейки    Исполнителем&nbsp;&nbsp;не будут приняты.&nbsp;<br />
      7.6. Ответственность за выбор и    использование Изображения целиком и полностью возлагается на Заказчика.    Исполнитель не несет ответственность за убытки или ущерб, в том числе –    нарушение авторских прав, причиненные третьим лицам&nbsp;&nbsp;в результате    неправильного или неправомерного использования нанесенного Изоб­ражения.<br />
      7.7. Ни одна из Сторон не несет ответственности за полное или частичное    неисполнение любой из своих обязанностей, если неисполнение является    следствием таких обстоятельств, как наводнение, пожар, землетрясение, другие    стихийные бедствия, война или военные действия и другие обстоятельства    непреодолимой силы, возникшие после заключения Договора.<br />
      7.8. В случае действия обстоятельств непреодолимой силы более 3 (трех)    месяцев любая Сторона вправе в одностороннем порядке отказаться от исполнения    своих обязательств по Договору (расторгнуть Договор).<br />
      <strong>8. Порядок разрешения споров</strong><br />
      8.1.В случае возникновения споров между Заказчиком и Исполнителем по    вопросам, связанным с исполнением Договора, стороны примут все меры к    разрешению их путем переговоров между собой.<br />
      8.2.В случае невозможности разрешения указанных споров путем переговоров, они    должны решаться в судебном порядке в Арбитражном суде г.Москвы или в суде    общей юрисдикции по месту нахождения Исполнителя.<br />
      <strong>9. Вступление договора в силу и    действие</strong><br />
      9.1.Договор вступает в силу с момента акцепта Договора Заказчиком    путем предварительной оплаты Услуг на расчетный счет Исполнителя.&nbsp;<br />
      9.2.Договор является офертой в соответствии со ст.435 ГК РФ и в силу этого    Исполнитель имеет право на отзыв Договора как оферты в соответствии со ст.436    ГК РФ.&nbsp;<br />
      9.3.Договор заключается на&nbsp;&nbsp;срок, необходимый для полного    исполнения Сторонами обязательств по договору.&nbsp;&nbsp;В случае    расторжения Договора по инициативе Заказчика, в соответствии с п.1 ст.782 ГК    РФ, Исполнитель возвращает Заказчику денежные средства, уплаченные Заказчиком    Исполнителю по Договору, за вычетом стоимости фактически оказанных услуг.<br />
      9.4.Вопросы, не урегулированные Договором, подлежат разрешению в соответствии    с законодательством РФ.</p>
      <p><strong>10. Реквизиты сторон</strong><br />
        10.1. ООО «Полиграфия Дизайн Реклама» Юридический адрес 119415, г. Москва, ул. Удальцова дом 21, ИНН 7729513405, КПП 772901001, ОГРН 1047796703899, Р\сч 40702810803000230845 в Банке РосЕвроБанк г. Москва, Кор. сч	30101810800000000836, БИК 044525836<br />
        <br />
        10.2. <%= @order.user.name %>, тел. <%= @order.user.phone %>, <%= @order.user.jur_kpp %>, <%= @order.user.jur_bank %> <%= @order.user.jur_bik %>, <%= @order.user.jur_address %><br />
        <strong>Подпись представителя Заказчика</strong>, подтверждающая принятие условий настоящего Договора и верность заполнения параметров заказа в п.2. Договора и получение необходимых консультаций и разъяснений по п.п. 3.2-3.5.,7.1.-7.6.<br />
        <br />
        __________________________  /<span class="topborder"><%= @order.user.contact_fio%></span>___________________________________/<br />
        <strong> </strong></p></td>
  </tr>
  <tr class="txt_dogovor">
    <td width="365" valign="top" class="txt_dogovor"><p>&nbsp;</p>
      <p><strong>Представитель Заказчика:</strong> Цветопробу утверждаю, цвет, качество материала, качество изображения меня устраивает полностью </p>
      <p> __________________________  /___________________________________/</p>
      <p><strong>Представитель Заказчика:</strong> заказ мной получен полностью, проверен по качеству, количеству, цветности, размерам. Замечаний нет.</p>
      <p> __________________________  /____________________________________/</p>
      <p class="txt_dogovor">Подписано в г.Москва.<br />
        Информацию о готовности заказа можно получить по т. +7 495 649-48-76</p></td>
  </tr>
</table>
</body>
</html>
